.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "title title title"
      "foto foto4 foto5"
      "foto1 foto6 foto7"
      "foto2 text text";
  }
  
  .title { grid-area: title; }
  
  .foto { grid-area: foto; }
  
  .foto1 { grid-area: foto1; }
  
  .foto2 { grid-area: foto2; }
  
  .foto4 { grid-area: foto4; }
  
  .foto5 { grid-area: foto5; }
  
  .foto6 { grid-area: foto6; }
  
  .foto7 { grid-area: foto7; }
  
  .text { grid-area: text; }
  