body{
    margin: 0px;
}
.list_inline a{
    text-decoration: none;
    color: #0073cf;
    font-size: 20px;
}
.list_inline a:link{
    color: #0073cf;
}
.list_inline a:visited{
    color: #0073cf;
}
.footer { 
    display: flex;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: red;
    color: white;
    justify-content: center;
}